.card {
    display: flex;
    padding: 15px;
    height: 150px;
    width: 300px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(173, 160, 17);
}

.card-block {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.card-btn {
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}